<div class="container">
  <div class="quotes">

    <div class="shadow-sm bg-success p-2 mb-3 font-weight-bolder text-white sticky-top">
      Quotes
    </div>

    <div class="card shadow-sm bg-white mb-2 border-0" *ngFor='let quote of quotes'>

      <div class="card-body">
        <span> <i class="fa fa-user-circle"></i> {{quote.user}}</span>
        <blockquote class="blockquote">
          <p class="mb-0">{{quote.content}}</p>
          <footer class="blockquote-footer">{{quote.author}}</footer>
        </blockquote>
      </div>
      <div class="card-footer">
      </div>

    </div>


  </div>
</div>
