/* You can add global styles to this file, and also import other style files */
body {background-color:#f4f4f4;}
.quotes {width:60%;margin:auto;}
.quotenav {position:fixed;top:0;left:0;height:100%;overflow:auto;background-color:white;width:20%;}
.quoteform {position:fixed;top:0;right:0;height:100%;overflow:auto;background-color:white;width:20%;}
textarea{resize:none;}
@media screen and (max-width:500px){ .quotes{width:100%} .quotenav, .quoteform {display:none;} }
